<h1>Create</h1>

<form method="POST" action="/home/create">
    <div>
        <label for="Name"></label>
        <input type="text" name="Name" value="" /> 
        <span asp-validation-for="Name"></span>    
    </div>
    
    <input type="submit" name="create" value="Save" />
</form>