@model IEnumerable<storeroom_web_netcore.Models.Storeroom>
<html>
    <head>

    </head>
    <body>
        <table>
            @foreach (var storeroom in Model)
            {
                <tr>
                    <td>@storeroom.Id</td>
                    <td>@storeroom.Name</td>
                </tr>
            }
        </table>
    </body>
</html>