@model storeroom_web_netcore.ViewModels.StoreroomViewModel
<html>
    <head>

    </head>
    <body>
        <h1>@Model.Message</h1>
        <table>
            @foreach (var storeroom in Model.Storerooms)
            {
                <tr>
                    <td>@storeroom.Id</td>
                    <td>@storeroom.Name</td>
                </tr>
            }
        </table>
    </body>
</html>