@model storeroom_web_netcore.ViewModels.StoreroomViewModel
<html>
    <head>

    </head>
    <body>
        <h1>@Model.Message</h1>
        <table>
            @foreach (var storeroom in Model.Storerooms)
            {
                <tr>
                    <td>@storeroom.Id</td>
                    <td>@storeroom.Name</td>
                    <td>
                        <a href="/home/details/@storeroom.Id">Details</a>
                    </td>
                </tr>
            }
        </table>
        <a href="/home/create">Add Storeroom</a>
    </body>
</html>